# dependencies
/node_modules
package-lock.json
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env.production
.env.development

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# firebase files
.firebase
.firebaserc
firebase.json
n/
